<web-app>
<servlet>
<servlet-name>Create_acc_servlet</servlet-name>
<servlet-class>Create_acc_servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Create_acc_servlet</servlet-name>
<url-pattern>/Create_acc_servlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login_servlet</servlet-name>
<servlet-class>Login_servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login_servlet</servlet-name>
<url-pattern>/Login_servlet</url-pattern>
</servlet-mapping>
</web-app>
